.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  background-color: #0bf82b;
  font-size: 30px;
  justify-content: space-around;
  display: flex;
}

.nav-header {
  color: white;
  font-size: 40px;
}

.whole-nav {
  background-image: url("https://cssanimation.rocks/demo/starwars/images/bg.jpg");
}
